.list {
	display: flex;
	flex-wrap: wrap;
	
	align-items:  flex-start;
	justify-content: center;
	
	gap: 10px;

	margin-left: auto;
	margin-right: auto;
	
}

.btn {
	margin-left: 8px;
	background-color: rgb(225, 223, 228);
	width: 15px;
	height: 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(225, 223, 228);
	border: 1px solid gray;
	border-radius: 20%;
}

.item {
	display: flex;
	gap: 20px;

	flex-direction: column;
	width: 180px;
	height: 200px;
	background-color: rgb(229, 229, 69);
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;

}